<section class="px-4 pt-4 h-16">
    <h1 class="font-medium text-2xl text-primary">HRIS</h1>
</section>

<mat-list class="!pt-0">
    @for (link of links; track link.id) {
        <mat-list-item>
            <a [routerLink]="link.url" class="flex flex-row items-center gap-4 hover:text-primary" routerLinkActive="text-primary">
                <mat-icon>{{link.icon}}</mat-icon>
                <span>{{link.name}}</span>
            </a>
        </mat-list-item>
      }
</mat-list>