<section class="h-full p-container flex flex-col">
    <section class="flex flex-wrap items-center gap-5">
        <form [formGroup]="searchForm" class="grow flex flex-row gap-5" (submit)="setFilterSearch(searchForm.value)">
            <div class="relative">
                <mat-icon class="absolute left-2 top-2">search</mat-icon>
                <input lkInput formControlName="username" class="!pl-10 w-full" type="text"
                    placeholder="Search username">
            </div>
            <div class="relative">
                <mat-icon class="absolute left-2 top-2">search</mat-icon>
                <input lkInput formControlName="email" class="!pl-10 w-full" type="text"
                    placeholder="Search email">
            </div>
            <button class="hidden" type="submit"></button>
            <button mat-button (click)="reset()" type="button">Reset</button>
        </form>
        <a mat-flat-button color="primary" routerLink="/employee/add">Add Employee</a>
    </section>

    <section class=" mt-container grow relative flex flex-col border border-slate-200 rounded-lg">
        @if (loading) {
            <div class="absolute inset-0 z-30 flex items-center justify-center bg-[#00000026] rounded-lg">
                <mat-spinner />   
            </div>
        }
        <div class="grow overflow-auto bg-white h-[400px] rounded-lg">
            <table mat-table class="rounded-lg" [dataSource]="dataSource" matSort [matSortActive]="tableFilter.sortActive" [matSortDirection]="tableFilter.sortDirection" (matSortChange)="sortData($event)">
                
                <ng-container matColumnDef="id">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef>Id.</th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>

                <ng-container matColumnDef="username">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef>Username</th>
                    <td mat-cell *matCellDef="let element"> {{element.username}} </td>
                </ng-container>

                <ng-container matColumnDef="email">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef>Email</th>
                    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                </ng-container>

                <ng-container matColumnDef="group">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef>Group</th>
                    <td mat-cell *matCellDef="let element" class="capitalize"> {{element.group}} </td>
                </ng-container>

                <ng-container matColumnDef="basicSalary">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef>Salary</th>
                    <td mat-cell *matCellDef="let element"> {{element.basicSalary | currency: 'Rp. '}} </td>
                </ng-container>

                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef>Action</th>
                    <td mat-cell *matCellDef="let element">
                        <div class="flex items-center gap-1">
                            <button mat-icon-button class="!text-yellow-400" (click)="goToEdit(element, $event)" matTooltip="Edit">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-icon-button class="!text-red-500" (click)="openDeleteDialog(element, $event)" matTooltip="Delete">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </td>
                </ng-container>

                <tr class="!bg-slate-200 !h-10" mat-header-row *matHeaderRowDef="displayedColumns; sticky: !loading"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="hover:bg-gray-100 cursor-pointer" (click)="goToDetail(row, $event)"></tr>
                
                <!-- Row shown when there is no data. -->
                <tr *matNoDataRow>
                    <td class="text-center p-20 bg-white" [colSpan]="displayedColumns.length">{{loading ? '' : 'No Data'}}</td>
                </tr>
            </table>
        </div>
        <mat-paginator class="rounded-b-lg" 
            [class.invisible]="loading" 
            [pageSizeOptions]="[25, 50, 100]" 
            [pageIndex]="tableFilter.pageIndex" 
            [pageSize]="tableFilter.pageSize"
            (page)="pageOnChange($event)"
            showFirstLastButtons aria-label="Select page"/>
    </section>

</section>