<h2 mat-dialog-title>{{dialogData.header}}</h2>
<mat-dialog-content class="!mb-10">
    <p>{{dialogData.message}}</p>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button class="!min-w-[100px]" (click)="cancel()">{{dialogData.cancelText || 'Cancel'}}</button>
    <button mat-button class="!min-w-[100px]" (click)="submit()" cdkFocusInitial>{{dialogData.submitText || 'Ok'}}</button>
</mat-dialog-actions>