<mat-drawer-container class="h-full">
    <mat-drawer #sidenav [mode]="isMobile ? 'over' : 'side'" [opened]="!isMobile" class="drop-shadow">
        <lk-sidenav />
    </mat-drawer>
    <mat-drawer-content class="container-content bg-slate-100 flex-col">
        <lk-toolbar (menuClick)="sidenav.toggle()"/>
        <main class="overflow-auto grow">
            <router-outlet></router-outlet>
        </main>
    </mat-drawer-content>
</mat-drawer-container>