<div class="h-screen flex items-center justify-center px-5 bg-gray-100">
    <mat-card class="w-[450px]" appearance="outlined">
        <section class="py-10 px-5">
            <h1 class="text-2xl font-bold text-center">Welcome to HRIS</h1>
            <form class="mt-20 flex flex-col gap-7" [formGroup]="loginForm" (submit)="login()">
                <label lkLabel>
                    <input lkInput class="w-full" type="email" placeholder="Email" formControlName="email">
                    @if (loginForm.get('email')?.touched || loginForm.get('email')?.dirty) {
                        @if (loginForm.get('email')?.hasError('required')) {
                            <small class="text-danger">Email is required</small>
                        } @else if (loginForm.get('email')?.hasError('email')) {
                            <small class="text-danger">Email is invalid</small>
                        }
                    }
                </label>
                <label lkLabel>
                    <input lkInput class="w-full" type="password" placeholder="Password" formControlName="password">
                    @if (loginForm.get('password')?.touched || loginForm.get('password')?.dirty) {
                        @if (loginForm.get('password')?.hasError('required')) {
                            <small class="text-danger">Password is required</small>
                        } @else if (loginForm.get('password')?.hasError('password')) {
                            <small class="text-danger">Password is invalid</small>
                        }
                    }
                </label>

                <div class="mt-10 flex justify-center">
                    @if (loading) {
                        <mat-spinner [diameter]="40"></mat-spinner>
                    } @else {
                        <button mat-flat-button color="primary" class="w-full" type="submit">
                            Login
                        </button>
                    }
                </div>
            </form>
        </section>
    </mat-card>
</div>