
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the theme object.
$lk-hris-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  )
));

.mat-bg-primary {
  background-color: mat.get-theme-color($lk-hris-theme, primary) !important;
}
.mat-text-primary {
  color: mat.get-theme-color($lk-hris-theme, primary) !important;
}
.lk-input.ng-touched.ng-invalid, .lk-input.ng-dirty.ng-invalid {
  outline-color: #EF4444;
  border-color: #EF4444;
}

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($lk-hris-theme);
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($lk-hris-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($lk-hris-theme);
/* You can add global styles to this file, and also import other style files */