<lk-toolbar-secondary>
    <h1 class="font-medium">{{employeeId ? 'Edit' : 'Add New'}} Employee</h1>
</lk-toolbar-secondary>

<section class="p-container">
    <lk-card>
        <lk-card-content>
            <form [formGroup]="employeeForm" (submit)="submit()">
                <div class="mb-10 flex flex-col sm:flex-row gap-5 sm:gap-10">
                    <section class="flex-1 flex flex-col gap-5">
                        <div class="flex flex-row gap-5">
                            <label lkLabel class="flex-1">
                                <div>First Name <span class="text-danger">*</span></div>
                                <input lkInput type="text" formControlName="firstName" placeholder="Input first name" class="w-full">
                                @if (employeeForm.get('firstName')?.touched) {
                                    @if (employeeForm.get('firstName')?.hasError('required')) {
                                        <small class="text-danger">First name is required</small>
                                    }
                                }
                            </label>
                            <label lkLabel class="flex-1">
                                <div>Last Name <span class="text-danger">*</span></div>
                                <input lkInput type="text" formControlName="lastName" placeholder="Input last name" class="w-full">
                                @if (employeeForm.get('lastName')?.touched) {
                                    @if (employeeForm.get('lastName')?.hasError('required')) {
                                        <small class="text-danger">Last name is required</small>
                                    }
                                }
                            </label>
                        </div>
                        <label lkLabel>
                            <div>Username <span class="text-danger">*</span></div>
                            <input lkInput type="text" formControlName="username" placeholder="Input username" class="w-full">
                            @if (employeeForm.get('username')?.touched) {
                                @if (employeeForm.get('username')?.hasError('required')) {
                                    <small class="text-danger">Username is required</small>
                                }
                            }
                        </label>
                        <label lkLabel>
                            <div>Email <span class="text-danger">*</span></div>
                            <input lkInput type="email" formControlName="email" placeholder="Input email" class="w-full">
                            @if (employeeForm.get('email')?.touched) {
                                @if (employeeForm.get('email')?.hasError('required')) {
                                    <small class="text-danger">Email is required</small>
                                } @else if (employeeForm.get('email')?.hasError('email')) {
                                    <small class="text-danger">Email is invalid</small>
                                }
                            }
                        </label>
                        <label lkLabel>
                            <div>Description <span class="text-danger">*</span></div>
                            <textarea lkInput rows="4" formControlName="description" placeholder="Input description" class="w-full"></textarea>
                            @if (employeeForm.get('description')?.touched) {
                                @if (employeeForm.get('description')?.hasError('required')) {
                                    <small class="text-danger">Description is required</small>
                                }
                            }
                        </label>
                    </section>
                    <mat-divider [vertical]="true"/>
                    <section class="flex-1 flex flex-col gap-5">
                        <label lkLabel>
                            <div>Birth date <span class="text-danger">*</span></div>
                            <input lkInput type="date" formControlName="birthDate" class="w-full" [max]="minBirthDate | date:'yyyy-MM-dd'">
                            @if (employeeForm.get('birthDate')?.touched) {
                                @if (employeeForm.get('birthDate')?.hasError('required')) {
                                    <small class="text-danger">Birth date is required</small>
                                }
                            }
                        </label>
                        <label lkLabel>
                            <div>Salary (Rp) <span class="text-danger">*</span></div>
                            <input lkInput type="number" lkNumberOnly formControlName="basicSalary" placeholder="Input salary" class="w-full">
                            @if (employeeForm.get('basicSalary')?.touched || employeeForm.get('basicSalary')?.dirty) {
                                @if (employeeForm.get('basicSalary')?.hasError('required')) {
                                    <small class="text-danger">Salary is required</small>
                                }@else if (employeeForm.get('basicSalary')?.hasError('min')) {
                                    <small class="text-danger">Minimun salary is 1.000.000</small>
                                }
                            }
                        </label>
                        <label lkLabel>
                            <div>Status <span class="text-danger">*</span></div>
                            <input lkInput type="text" formControlName="status" placeholder="Input status" class="w-full">
                            @if (employeeForm.get('status')?.touched) {
                                @if (employeeForm.get('status')?.hasError('required')) {
                                    <small class="text-danger">Status is required</small>
                                }
                            }
                        </label>
                        <label lkLabel>
                            <div>Group <span class="text-danger">*</span></div>
                            <input lkInput formControlName="group" class="w-full"
                                (input)="filterGroup($event)"
                                (focus)="filterGroup($event)"
                                [matAutocomplete]="auto" placeholder="Search groups">
                            <mat-autocomplete requireSelection #auto="matAutocomplete">
                                @for (group of filteredGroups; track group.value) {
                                    <mat-option [value]="group.value">{{group.label}}</mat-option>
                                }
                            </mat-autocomplete>
                            <!-- <select lkInput formControlName="group" class="w-full">
                                <option value="" disabled>Select group</option>
                                @for(group of listGroup; track group.value) {
                                    <option [value]="group.value">{{group.label}}</option>
                                }
                            </select> -->
                            @if (employeeForm.get('group')?.touched) {
                                @if (employeeForm.get('group')?.hasError('required')) {
                                    <small class="text-danger">Group is required</small>
                                }
                            }
                        </label>
                    </section>
                </div>
                <div class="flex justify-end gap-5">
                    @if (loading) {
                        <mat-spinner diameter="40"/>
                    } @else {
                        <button mat-button class="w-40" (click)="cancel()" type="button">Cancel</button>
                        <button mat-flat-button color="primary" class="w-40" type="submit">{{employeeId ? 'Update' : 'Save'}}</button>
                    }
                </div>
            </form>
        </lk-card-content>
    </lk-card>
</section>