<mat-toolbar class="!h-14">
    <button mat-icon-button aria-label="Menu" (click)="menuClick.emit(true)">
        <mat-icon>menu</mat-icon>
    </button>
    <span></span>
    <button class="ml-auto" mat-icon-button aria-label="account" [matMenuTriggerFor]="menuAccount">
        <mat-icon>account_circle</mat-icon>
    </button>
</mat-toolbar>
<mat-divider />


<mat-menu #menuAccount="matMenu">
    <div mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Sign out</span>
    </div>
</mat-menu>