<section class="px-container py-4 bg-blue-100 flex items-center gap-5 h-14">
    @if (enableBackButton) {
        <button mat-icon-button (click)="backButtonClick.emit($event)">
            <mat-icon>arrow_back</mat-icon>
        </button>
    }
    <ng-content />
</section>