<lk-toolbar-secondary [enableBackButton]="true" (backButtonClick)="back()">
    <h1 class="font-medium">Employee Detail</h1>
    <button mat-icon-button class="!text-red-500 ml-auto" (click)="deleteEmployee($event)" matTooltip="Delete">
        <mat-icon>delete</mat-icon>
    </button>
</lk-toolbar-secondary>

<section class="p-container">
    @if (loading) {
        <div class="flex items-center justify-center h-[50vh]">
            <mat-spinner/>
        </div>
    } @else {
        <lk-card>
            <lk-card-content class="!flex flex-col sm:flex-row gap-5 sm:gap-10">
                <section class="flex-1 flex flex-col gap-5">
                    <div class="flex flex-row gap-5">
                        <div class="flex-1">
                            <div class="text-gray-400 text-sm mb-1">First name</div>
                            <div class="text-lg">{{employee?.firstName}}</div>
                        </div>
                        <div class="flex-1">
                            <div class="text-gray-400 text-sm mb-1">Last name</div>
                            <div class="text-lg">{{employee?.lastName}}</div>
                        </div>
                    </div>
                    <div>
                        <div class="text-gray-400 text-sm mb-1">Username</div>
                        <div class="text-lg">{{employee?.username}}</div>
                    </div>
                    <div>
                        <div class="text-gray-400 text-sm mb-1">Email</div>
                        <div class="text-lg">{{employee?.email}}</div>
                    </div>
                    <div>
                        <div class="text-gray-400 text-sm mb-1">Description</div>
                        <div class="text-lg">{{employee?.description}}</div>
                    </div>
                </section>
                <mat-divider [vertical]="true"/>
                <section class="flex-1 flex flex-col gap-5">
                    <div>
                        <div class="text-gray-400 text-sm mb-1">Birth date</div>
                        <div class="text-lg">{{employee?.birthDate | date: 'dd MMM yyyy'}}</div>
                    </div>
                    <div>
                        <div class="text-gray-400 text-sm mb-1">Salary</div>
                        <div class="text-lg">{{employee?.basicSalary | currency: 'Rp. '}}</div>
                    </div>
                    <div>
                        <div class="text-gray-400 text-sm mb-1">Status</div>
                        <div class="text-lg">{{employee?.status}}</div>
                    </div>
                    <div>
                        <div class="text-gray-400 text-sm mb-1">Group</div>
                        <div class="text-lg capitalize">{{employee?.group}}</div>
                    </div>
                </section>
            </lk-card-content>
        </lk-card>
    }
</section>